.linkItem {
	margin: 0px auto;
        width: 95%;
        margin-bottom: 15px;
        padding-bottom:15px;
}

.linkPic {
        width:468px;
        
}

.linkText {
        float: right;
        width: 285px;
}

.linkText textarea{
    width:280px;
}

.linkPic a img {
    border: 0px;
}