.creditItem {
        margin-top:0px;
        padding-top:0px;
        margin-bottom:30px;
        vertical-align:middle;
/*        margin-left:15px;*/
}

.creditTitle {
        font-size:x-large;
}

.creditContent {
    padding-left:20px;
}

.creditPic {
        float:right;
        margin-right:15px;  ;      
}
