<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>.:InCave.de:. - .:<%=pageTitle %>:.</title>
	<link rel="stylesheet" type="text/css" href="themes/default/style.css" />
        <link rel="stylesheet" type="text/css" href="themes/default/<%=pageName %>/<%=pageName %>.css" />
	<script type="text/javascript" src="javascripts/javascripts.js"></script>
        <script type="text/javascript" src="javascripts/<%=pageName %>/<%=pageName %>.js"></script>
	<meta name="keywords" content="kolpinghaus, kuba, bergerfurth, vorabi, abifete, party, bilder, fotos, musik, fete, fetenbilder, scheunenfete, karneval, feiern, shisha, incave, wasserpfeife, hutzen, hutze, event" />
	<meta name="description" content="InCave.de ... here's the community!" />
	<meta name="author" content="Christoph Omsels, Tim Schubert, Sebastian Just" />
	<meta name="robots" content="index, follow" />
        <meta name="content-language" content="de" />
	<meta http-equiv="content-language" content="de" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="themes/default/favicon.ico" type="image/ico" />
</head>
<body>
	<div id="mainPage">
		<div id="mainMenu">
                        <map name="mainMenuMap">
                            <area href="index.jsp" shape="rect" coords="39, 171, 99, 197" alt="home" title=".:home">
                            <area href="picsnvids.jsp" shape="rect" coords="110, 170, 217, 199" alt="pic'n'vid" title=".:pic'n'vid">
                            <area href="http://forum.incave" shape="rect" coords="449, 170, 523, 201" alt="forum" title=".:forum">
                            <area href="guestbook.jsp" shape="rect" coords="526, 172, 643,200" alt=".:guestbook" title=".:guestbook">
                            <area href="credits.jsp" shape="rect" coords="645, 174, 728, 200" alt="credits" title=".:credits">
                            <area href="links.jsp" shape="rect" coords="732, 173, 795, 201" alt="links" title=".:links">
                        </map>
			<img src="themes/default/menu.jpg" width="800" height="200" alt="Menü" title="" usemap="#mainMenuMap">
		</div>
		<div id="mainContent">
                <% if (pageTitle.length() > 0) { %> 
                    <h1>.: <%=pageTitle %></h1>
                <% } %>